body {
    font-family: Arial, Helvetica, sans-serif;
    background:lightgray;

}

h2, p, .readme-Wrapper{
    text-align: center;
}

a {
    text-decoration: none;
    color:#d48a00;
}
.boxes {
    display: block;
    margin: 1vh 2vh 2vh 2vh;
    padding: 1%;
    border: solid;
    border-radius: 25px;
    width: 20%;
     
}

a:hover {
    cursor:pointer;
    font-weight: bold;
    color:blueviolet;

}

span {
    color:blue;
    font-weight: 550;
}

#box1 {
	background: #faebd7;
}

#box2 {
    background: #d7faeb;
    
}

#box3 {
	background: #ebd7fa;
}

#box4 {
	background: #f8fad7;
}

.story-image {
	width: 3em;
	height: 3em;
    background: #090909cc;
    float: left;
}

h1 {
    color:blue;
}

.star-title {
    color:goldenrod;
}

.f-title {
    color:red;
}

/* #tng {
    color:blue;

}

#ds9 {
    color:red;
}

#sg1 {
    color:goldenrod;
}

#fireFly {
    color:greenyellow;

 } 

 #farscape{
     color:blue
 }
 
 */

